@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
      font-family: "Poppins", sans-serif;
      color: white;
      font-weight: 600;
}

body{
    background:  url('assets/assets/bg.jpg');
    background-size: cover;
    height: 100dvh;
    width: 100%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
}

.regular-txt{
    font-weight: 400;
}
.main-container{
    
    width: 450px;
    height: 510px;
    z-index: 1;
    background: linear-gradient( to top, rgba(0, 0, 0, 0.15), rgba(255, 255, 255, 0.15));
    border-radius: 12px;
    backdrop-filter:blur(100px);
    padding: 20px;
}

/* inp container */

.inp-cont{
    position: relative;
    margin-bottom: 25px;
}
.inp-city{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px 16px;
    border-radius: 99px;
    border: 3px solid transparent;
    background: rgb(0, 0, 0, 0.15);
    outline: none;
    font-weight: 500;
    transition:  0.25s border;
    padding-right: 45px;

}

.inp-city:focus{
    border: 3px solid rgb(0, 0, 0, 0.715);
}

.inp-city::placeholder{
    color: rgb(255, 255, 255, 0.75);
}

.srch-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    background-size: cover;
    cursor: pointer;
    display: flex;
    border: none;

}
/* End inp container */

.weather-info{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.location-date-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
}

.location{
    display: flex;
    align-items: center;
    gap: 6px;

}

.weather-summ-cont{
    display: flex;
    
    align-items: center;
    justify-content: space-between;
}

.weather-summ-img{
    width: 120px;
    height: 120px;
}

.weather-summ-info{
    text-align: end;
}

.weather-condition-cont{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-evenly;
}

.condition-item{
   
    display: flex;
    align-items: center;
    gap: 6px;

}

.condition-item span svg{
   height: 35px;
   width: 35px;
}

.forecast-item-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 15px;
    overflow-x: auto;
    padding: 10px 0;
}

 .forecast-item-cont::-webkit-scrollbar {
    display: block;
    height: 10px;
}
.forecast-item-cont::-webkit-scrollbar-track{
    background: rgb(0, 0, 0, 0.1);
    border-radius: 99px;
}

.forecast-item-cont::-webkit-scrollbar-thumb{
    background: rgb(0, 0, 0, 0.15);
    border-radius: 99px;
} 
.forecast-item{
    
    min-width: 90px;
    background: rgb(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 10px;
    align-items: center;
    border-radius: 12px;
    transition: 0.3s background;
}
.forecast-item:hover{
    background: rgb(255, 255, 255, 0.15);
}

.forecast-item-image{
    width: 35px;
    height: 35px;
   
}

/* Section Message */
.message-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    margin-top: 37px;
}
.message-section img{
    height: 230px;
    width: fit-content;
}

/*End Section Message */